@import models.BookModel
@(book: BookModel)

@main("Book search"){
<div class="headerBackground">
    <div class="homeImageTextContainer">
        <img class="headingBanner" src="/assets/images/creative-assortment-with-different-books.jpg" alt="books piled with writing what book next over the top">
        <h1 class="whatBookNext">What</h1> <h1 class="bookTitle">Book</h1> <p class="inner rotate">Next</p>
        <p class="textImageAttribution">Image by <a href="https://www.freepik.com/free-photo/creative-assortment-with-different-books_12407510.htm">Freepik</a></p>
    </div>
    <ul class="navigation">
        <li>Browse by</li>
        <li><a href="@controllers.routes.ApplicationController.home()">Home</a></li>
        <li>Search</li>
        <li><a href="@controllers.routes.ApplicationController.signIn()">Sign In</a></li>
    </ul>
</div>
<div class="bookSearchBackground">

<h1 class="pageTitle">@book.title</h1>

<div class="bookSearchContainer">

<img class="bookCover" src= "@book.image" alt="image of a book cover">
    <div class="bookSearchText">
        @book.author.map{name =>
            <p class="authorName">@name</p>
        }
        <div class="iconContainers">

            <img class= "icon" src= "/assets/images/addToReadingIcon.png" alt="plus symbol">
            <span class="hideText">Add to reading</span>

            <img class= "icon" src= "/assets/images/addToReadIcon.png" alt="end book symbol">
            <span class="hideText">Add to read</span>

         </div>
        <ul class="bookSearchDetails">
            <li>@book.description</li>
        </ul>
    </div>
</div>
</div>
}

