@()
@main("What Book Next"){
<div class="headerBackground">
    <div class="homeImageTextContainer">
        <img class="headingBanner" src="/assets/images/creative-assortment-with-different-books.jpg" alt="books piled with writing what book next over the top">
        <h1 class="whatBookNext">What</h1> <h1 class="bookTitle">Book</h1> <p class="inner rotate">Next</p>
        <p class="textImageAttribution">Image by <a href="https://www.freepik.com/free-photo/creative-assortment-with-different-books_12407510.htm">Freepik</a></p>
    </div>
    <ul class="navigation">
      <li>Browse by</li>
      <li><a href="@controllers.routes.ApplicationController.home()">Home</a></li>
      <li>Search</li>
      <li><a href="@controllers.routes.ApplicationController.signIn()">Sign In</a></li>
    </ul>
</div>
<div class="homeImageTextContainer">
    <img class="homeImg" src="/assets/images/homePic.jpg" alt="book and coffee">
    <div class="writingOnHomeImage">Here we aim to find you your next book obsession. You can browse by your favourite genre or for more tailored recommendations login in or sign up.</div>
</div>
}
