@()
@main("What Book Next"){
<div class="headerBackground">
    <div >
        <img class="headingBanner" src="/assets/images/bannerPic.jpg" alt="books piled with writing what book next over the top">
    </div>
    <ul class="navigation">
      <li>Browse by</li>
      <li><a href="@controllers.routes.ApplicationController.home()">Home</a></li>
      <li>Search</li>
      <li><a href="@controllers.routes.ApplicationController.signIn()">Sign In</a></li>
    </ul>
</div>
<div class="homeImageTextContainer">
    <img class="homeImg" src="/assets/images/homePic.jpg" alt="book and coffee">
    <div class="writingOnHomeImage">Here we aim to find you your next book obsession. You can browse by your favourite genre or for more tailored recommendations login in or sign up.</div>
</div>
}
