@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/WBNicon.png")">
<!--        <a target="_blank" href="https://icons8.com/icon/kU7-FkDru7LN/storytelling">Storytelling</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
    </head>
    <body>

        @content

      <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>


    </body>
</html>
