@import forms.UserData
@(userForm: Form[UserData])


@main("sign up"){
<div class="headerBackground">
    <div class="homeImageTextContainer">
        <img class="headingBanner" src="/assets/images/creative-assortment-with-different-books.jpg" alt="books piled with writing what book next over the top">
        <h1 class="whatBookNext">What</h1> <h1 class="bookTitle">Book</h1> <p class="inner rotate">Next</p>
        <p class="textImageAttribution">Image by <a href="https://www.freepik.com/free-photo/creative-assortment-with-different-books_12407510.htm">Freepik</a></p>
    </div>
    <ul class="navigation">
        <li>Browse by</li>
        <li><a href="@controllers.routes.ApplicationController.home()">Home</a></li>
        <li>Search</li>
        <li><a href="@controllers.routes.ApplicationController.signIn()">Sign In</a></li>
    </ul>
</div>
<div class="bookSearchBackground">
<h2 class="pageTitle">Sign Up</h2>
<div class="signUpBox">
<img class="signInImg" src="/assets/images/signupPic.jpg" alt="library ladder">

<form class="signupForm" method="post" autocomplete="on">
    Email: <input type="text" name="usernameEmail"><br>
    Username: <input type="text" name="name"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit">
</form>
</div>
</div>
}