@import forms.UserData
@(userForm: Form[UserData])


@main("sign in"){

<div class="headerBackground">
    <div >
        <img class="headingBanner" src="/assets/images/bannerPic.jpg" alt="books piled with writing what book next over the top">
    </div>
    <ul class="navigation">
        <li>Browse by</li>
        <li><a href="@controllers.routes.ApplicationController.home()">Home</a></li>
        <li>Search</li>
    </ul>
</div>
<h2 class="pageTitle">Sign In/Up</h2>
<div class="signUpFromSignIn">
<p>If you do not have an account then</p>
<p><a href="@controllers.routes.ApplicationController.signUp()">Sign Up</a></p>
</div>

}